manifest {
    homePage = 'https://github.com/iarcbioinfo/purple-nf'
    description = 'Somatic Copy Number calls with PURPLE'
    mainScript = 'main.nf'
    version  = '1.0'
    name = 'purple'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker {
    docker.enabled = true
    process.container = 'iarcbioinfo/purple-nf:v1.0'
  }
  singularity {
    singularity.enabled = true
    process.container = 'iarcbioinfo/purple-nf:v1.0'
    singularity.autoMounts = true
  }
}


process {
    shell =  ['/bin/bash','-o','pipefail']
}



// Load job.conf for process tagging
//includeConfig 'conf/jobs.conf'




params {

output_folder="./results"
//we init some parameters
ref = null
ref_dict = null
tn_file = null
help = false
debug = false
cohort_dir = null
tumor_only = false
bam = false

// resource defaults
max_memory = 128.GB
max_cpus = 8
max_time = 240.h

}

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/purple_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/purple_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/purple_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/purple_dag.html"

}



//Mesage regarding errors or complete
workflow.onComplete = {
    // any workflow property can be used here
    println "Pipeline complete"
    println "Command line: $workflow.commandLine"
}


workflow.onError = {
   println "Oops... Pipeline execution stopped with the following message: ${workflow.errorMessage}"
}
